@model IEnumerable<MeninasArteiras.Models.ItemDoPedido>

<table>
    <tr>
        <th>Nome do produto</th>
        <th>Quantidade</th>
        <th>Valor unitário</th>
        <th>Valor total</th>
    </tr>
    @foreach (var item in Model)
    {

        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Produto.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantidadeDoItem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Produto.ValorUnitario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorTotalDoItem)
            </td>
            <td>@Html.ActionLink("Editar", "Edit", "ItemDoPedido",  new { id = item.ItemDoPedidoID },null)</td>
            <td>@Html.ActionLink("Apagar", "Delete", "ItemDoPedido", new { id = item.ItemDoPedidoID }, null)</td>
        </tr>
    }
</table>




